figure.thumb {
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.thumb h2, 
.thumb p {
  margin: 0;
}

.thumb h2 {
  font-weight: 700;
  font-size: 16px;
  color: whitesmoke;
  margin-top: 20px;
}

.thumb .author {
  font-size: 14px;
  margin-top: 5px;
  color: whitesmoke;
  font-weight: 400;
}

.cover {
  display: inline-block;
  position: relative;
  box-shadow: 0 10px 20px -8px;
  margin-right: 15px;
}

.cover:after {
  content: '';
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  
  box-shadow: inset 1px 0 rgba(0,0,0,.25), 0 1px rgba(0,0,0,.25);
}


.cover img {
  height: 200px;
  display: block;
  position: relative;
}