<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
<style>
.profile-img {
    position: relative; 
    overflow: hidden;
    /* border-radius: 100%; */
    vertical-align: middle;
    height: 250px;
    max-height: 100%;
    width: 55vw; 
    min-width: 300px;
    max-width: 300px;
    margin-left:.10em;
}
/* .image-cropper {
    width: 50%;
    height: 30%;
    position: relative;
    overflow: hidden;
    border-radius: 300%;
} */
</style>
<body>
  <main class="container">
    <section class="about">
      <!-- <div class = "image-cropper"> -->
      <a href="/"><img class = 'profile-img' src="{{ '/images/avatar21.png' | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
      <!-- </div> -->
      <h2 id="title">
        <a href="/">{{ site.plainwhite.name }}</a>
      </h2>

      <p class="tagline">{{ site.plainwhite.tagline }}</p>
      <h2><a href="/assets/download/HPNunes_Resume.pdf" target='blank' title="Download my resume (pdf)">Resume</a>
        <br><br>
      </h2>

      <div style="display:inline-block;margin-left:.5em;">
        Browse content by <a href="/blog/category">Categories</a> or <a href="/blog/tag">Tags</a>
        <br><br>
      </div>

      <div style="display:inline-block;margin-left:.5em;">
      List of TechStack & Misc. <a href="/blog/resources">Resources</a>
      <br><br><br><br><br>
     </div>


      <ul class="social">
        <a href="https://twitter.com/geocuriosity" target=_blank>
          <li>
            <i class="icon-twitter"></i>
          </li>
        </a>
        <a href="https://github.com/HP-Nunes" target=_blank>
          <li>
            <i class="icon-github-circled"></i>
          </li>
        </a>
        <a href="https://www.linkedin.com/in/hp-nunes/" target=_blank>
          <li>
            <i class="icon-linkedin"></i>
          </li>
        </a>
          <a href="mailto:contact@hpnunes.com">
            <li>
              <i class="icon-mail-alt"></i>
            </li>
          </a>
      </ul>

        {% if site.plainwhite.navigation %}
          <nav class="navigation">
            <ul>
              {% for link in site.plainwhite.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {% endif %}

        <p>&copy;
          {{ "now" | date: "%Y" }}</p>
      </section>
      <section class="content">
        {{ content }}
      </section>
    </main>
    {% if site.plainwhite.analytics_id %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
    {% endif %}
  </body>
</html>
